body, html{
	height: 100%;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;
}


#abc{
  width:100%;
  height:100vh;

  background-size: cover;
}
nav{
  width: 100%;
  height: 50px;
  line-height: 50px;
}
nav ul{
  float: left;
      position: relative;
      left: 32%;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}
nav ul li:hover{
  background-color:#666;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 30px;
}

.pimg1{
	background-image: url('src/img1.jpg');
	min-height: 100%;
}

.pimg2{
	background-image: url('src/img2.jpg');
	min-height: 500px;
}

.pimg3{
	background-image: url('src/img3.jpg');
	min-height:500px;
}

.pimg7{
	background-image: url('src/img7.jpeg');
	min-height: 500px;
}

.pimg8{
	background-image: url('src/img8.jpeg');
	min-height:500px;
}
.pimg9{
	background-image: url('src/img9.jpeg');
	min-height: 500px;
}

.pimg10{
	background-image: url('src/img10.jpeg');
	min-height:500px;
}

.pimg1, .pimg2, .pimg3 ,.pimg7, .pimg8, .pimg9 , .pimg10{
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.90; 
	/*this is what make us have that parallax effects 
	if we wanna remove that effect we have to set to scroll */
	background-attachment: fixed;
} 

.section{
	text-align: center;
	padding : 50px 80px;
}

.section-light{
	background-color: #f2f2f2;
	color: #666;
}

.section-dark{	
	background-color: #4c4c4c;
	color: #ddd;
}

.ptext{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 37px;
	color: #000;
	letter-spacing: 8px;
	text-transform: uppercase;

}

.ptext .border{
	background-color: black;
	color: #fff;
	padding: 20px;
	font-weight: 500;
}

.ptext .border.trans{
	background-color: transparent;
}

@media(max-width : 568px){
	.pimg1, .pimg2, .pimg{
		background-attachment: scroll;
	}
}
